*.fif
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.vscode/
.venv
.venv.7z
*.pcl
dist
build
build.7z
desktop.ini
.env
emotiv-lsl.7z
.cursor*
.cursorignore*
.cursorindexingignore*
.specstory
templating/uv_deps_switcher/backups
